<?xml version="1.0" encoding="gb2312"?>
<csDBToExcel xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--
  Sheet: excel sheet
  Sheet.SheetName：excel sheet name
  Sql：sql sentence
  Filed：column
  Filed.FldName：Oracle Filed Name
  Filed.RowName：Excel Filed Name
  DBType：oracle or sqlserver
  ConnStr：connection string
  -->
  <Sheets>
    <Sheet SheetName="Sheet1Name">    
      <Sql>select COL_INT,COL_VARCHAR,COL_DATE,COL_CHAR,COL_LONG from TEST_BYGAOXIONG20181108</Sql>
      <Fileds>
        <Filed FldName="COL_INT" RowName="INT..." />
        <Filed FldName="COL_VARCHAR" RowName="VARCHAR..." />
        <Filed FldName="COL_DATE" RowName="DATE..." />
        <Filed FldName="COL_CHAR" RowName="CHR..." />
        <Filed FldName="COL_LONG" RowName="LONGxx" />
        <Filed FldName="unknown" RowName="???" />
      </Fileds>
    </Sheet>
    <Sheet SheetName="Sheet2Name">
      <Sql>select COL_INT,COL_VARCHAR,COL_DATE,COL_CHAR,COL_LONG from TEST_BYGAOXIONG20181108</Sql>
      <Fileds>
        <Filed FldName="COL_INT" RowName="测试1" />
        <Filed FldName="COL_VARCHAR" RowName="测试2" />
        <Filed FldName="COL_DATE" RowName="测试3" />
        <Filed FldName="COL_CHAR" RowName="测试4" />
        <Filed FldName="COL_LONG" RowName="测试5" />
        <Filed FldName="unknown" RowName="测试6" />
      </Fileds>
    </Sheet>
  </Sheets>
  <DBType>sqlserver</DBType>
  <ConnStr>data source=.;initial catalog=Test20181108;user id=sa;password=123456;</ConnStr>
</csDBToExcel>
<!--<csDBToExcel xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Sheets>
    <Sheet SheetName="Sheet1Name">    
      <Sql>select JZ,PCS,JCW,XM,ZJH from rk_gwbq</Sql>
      <Fileds>
        <Filed FldName="JZ" RowName="街镇" />
        <Filed FldName="PCS" RowName="派出所" />
        <Filed FldName="JCW" RowName="居村委" />
        <Filed FldName="XM" RowName="姓名" />
        <Filed FldName="ZJH" RowName="证件号" />
        <Filed FldName="unknown" RowName="???" />
      </Fileds>
    </Sheet>
    <Sheet SheetName="Sheet2Name">
      <Sql>select JZ,PCS,JCW,XM,ZJH from (select * from rk_gwbq order by rownum)where rownum&lt;21</Sql>
      <Fileds>
        <Filed FldName="JZ" RowName="JZ_+" />
        <Filed FldName="PCS" RowName="PCS_+" />
        <Filed FldName="JCW" RowName="JCW_+" />
        <Filed FldName="XM" RowName="XM_+" />
        <Filed FldName="ZJH" RowName="ZJH_+" />
      </Fileds>
    </Sheet>
  </Sheets>
  <DBType>oracle</DBType>
  <ConnStr>Data Source=192.168.0.196:1521/orcl;User ID=RKAdmin;Password=RKAdmin</ConnStr>
</csDBToExcel>-->